.signin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:auto;
    margin-right: auto;
    height: 100%;
    width: 350px;
}
.signin__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
}